<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<nav class="navbar" th:fragment="navigation">
  <div class="logo">
    <a href="/" class = "logoTitle">My Movie</a>
    <!--            <h4>My Movie</h4>-->
  </div>
  <ul class ="nav-links">
    <li><a href = "AllMovies">All Movies</a></li>
    <li><a href="search">Search</a> </li>
    <li><a href="addmovie">Add Movie</a></li>
  </ul>

</nav>
<body>

</body>
</html>