<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link th:href="@{/css/addmovie.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navigation}"></div>

    <div class="form-container">
        <form action="/addmovie" method="post">
            <div class = "entry">
                <p><input type="text" class="fields" name="name" placeholder="Movie Name"/></p>
                <p><input type="text" class="fields" placeholder="Release Date (yyyy-mm-dd)" name="releaseDate" /></p>
                <p><input type="submit" class ="submitadd" value="Submit" /> <input class="resetbtn" type="reset" value="Reset" /></p>
            </div>
        </form>
    </div>

</body>
</html>