<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h4>My Movie</h4>
        </div>
        <ul class ="nav-links">
            <li><a href = "AllMovies">All Movies</a></li>
            <li><a href="search">Search for movie by ID</a> </li>
            <li><a href="addmovie">Add Movie</a></li>
        </ul>

    </nav>

    <div class="movieContainer"></div>
    <th:block th:each=" movie: ${movies}">
        <p th:text="${movie.name}"></p>
        <p th:text="${movie.actors()}"></p>
    </th:block>
</body>
</html>