<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Movies</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navigation}"></div>

    <div class="movieContainer">
    <th:block th:each="movie: ${movies}">
        <p th:text="${movie.name}"></p>
        <p>Actors: </p>
        <th:block th:each="actor: ${movie.actors()}">
            <a th:text="${actor.name} + ', '"></a>
        </th:block>
    </th:block>
    </div>
</body>
</html>