<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <h4>My Movie</h4>
        </div>
        <ul class ="nav-links">
            <li><a href = "moviesList">All Movies</a></li>
            <li><a href="search">Search for movie by ID</a> </li>
        </ul>

    </nav>

    <th:block th:each=" movie: ${movies}">
        <p th:text="${movie.name}"></p>
    </th:block>
</body>
</html>