<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Movie</title>
    <link th:href="@{/css/search.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="~{fragments/navbar :: navigation}"></div>

    <div class="container">
        <div class="form-container">
            <h2>Movie Search</h2>
            <form action="#" th:action="@{/search}" method="post">
                <p><input type="text" name="name" class = "fields" placeholder="Search Keyword"/></p>
                <p><input type="submit" value="Submit" class = "submit"/> <input class="reset" type="reset" value="Reset" /></p>
            </form>
        </div>
    </div>
</body>
</html>