<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Movie</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <a href="/" class = "logoTitle">My Movie</a>
        <!--            <h4>My Movie</h4>-->
    </div>
    <ul class ="nav-links">
        <li><a href = "AllMovies">All Movies</a></li>
        <li><a href="search">Search</a> </li>
        <li><a href="addmovie">Add Movie</a></li>
    </ul>

</nav>


    <div>
        <form action="#" th:action="@{/search}" method="post">
            <p>keyword: <input type="text" name="name"/></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>

</body>
</html>